language: python
sudo: false
os:
  - linux
  - osx
python:
  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "pypy"
install:
  - pip install --requirement=requirements-flake8.txt
  - pip install coveralls
  - LC_ALL=C pip install .
script:
  - make check
  - coverage run setup.py test
after_success:
  coveralls
